@import '../../constants/colors.scss';
@import '../../utils/responsive.scss';

#navigation {
    align-self: center;
    margin-right: 1vw;
    
    #nav-list {
        height: 6vh;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        li {
            width: 15vw;
            height: auto;
            text-align: center;

            a {
                text-decoration: none;
                color: $xiketic;
                font-size: 1.5rem;

                &:hover {
                    font-size: 1.2rem;
                }
            }
        }
    }
}